reconr                     resonance reconstruction
20 21                     read ENDF from unit 20 -> write reconstructed to unit 21
/   job title
{{ mat }} {{ temp_idx }}/                   MAT 9237 (U-238), temperature index 1 (0 K) 
{{ tolerance }}/                    tolerance = 0.1% (controls grid fineness)
/              descriptive card
0/                        end RECONR input
plotr
22/              output file
/                default page style
1/               new axes, new curve
/         title line 1
/                no line 2 for titles
4/               log-log
{{ E_min }} {{ E_max }}/          x-axis range
/                default label
1e-10 1e10/          y-axis range
/                default label
8 21 {{ mat }} 3 {{ mt }}/ data source for curve
/                default curve style
99/              finished
viewr
22 23/
stop